body{
    width: auto;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    padding: 10px;

}
.logo{
    widows: 3px;
    height:30px;
}
.menubar{
    display: flex;
    justify-content: space-around;
}
.menubar div{
    font-size: 15px;
    padding: 10px;
}
.drop_menu{
    display: none;
}
.menubar>section:focus .drop_menu{
    display: block;
}
#buy{
    font-family: 'Poppins', sans-serif;
font-size: 12px;
font-weight: 600;
color: white;
background-color: rgb(170, 210, 54);
padding: 10px;
border-radius: 4px;
border: 0px;

cursor: pointer;
}
.maing{
    background-image: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png);
height: 300px;

}
.section1 h1{
    width:300px;
    margin: 10px auto 20px auto;
    text-align: center;
}
.section1 p{
    padding: 10px;
    text-align: center;
}
.section2{
    display: flex;
    flex-direction: column;
}

.s1{
    background-color: #5acda6;
}
.s1:hover #icon{
font-size: 102px;

}

.s2{
  
background-color: #91ac41;

}
.s2:hover #icon{
    font-size: 102px;
  
}
.s3{
   
    background-color: #e4b476;
}
.s3:hover #icon{
    font-size: 102px;
}
.s4{
  
 
  background-color: #f69dad;
}
.s4:hover #icon{
    font-size: 102px;
}

#icon{
    color: white;
    font-size: 60px;
    transition:font-size 0.2s ;
   padding: 20px 43%;
}
.content{
    text-align: center;
    padding: 0px 20px;
}
h3{
  text-align: center;
}
.section3{
    background-color:#f7eee2;
padding: 10px;
}
.section3 h3{
    
        color: #91ac41;
      font-size: 24px;
      font-family: 'Caveat', cursive;
      margin:0 30% 0 20%;
      width: 200px;
      
      }
#bar h3{
    color: black;
  font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
text-align: center;
width: 200px;
    padding-left: 5%;
}
.section3 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;

}
.section3 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 540;
    color: #8b8b99;
  text-align: center;
}
#icon2{
    background-color: #e3b375;
    color: white;
 font-size:40px;
width: 40px;
height: 40px;
 border-radius: 50%;
padding: 10% 10%;
 transition:  font-size 0.1s;
 cursor: pointer;
 margin: 10px;
position: absolute;
left:50%;
transform: translateX(-50%);
transform: translate(-50% ,-130px)
 }

 #bar{
     padding-top: 120px;
 }
 .section4>h3{
    color: #91ac41;
  font-size: 24px;
  font-family: 'Caveat', cursive;
  margin-bottom: 5px;
  width:300px;
  padding:0 10%;
  }
  .section4>h1{
    font-family: 'Poppins', sans-serif;
 font-size: 30px;
 font-weight: 600;
text-align: center;
 margin-top: 10px;
 margin-bottom: 10px;
 }
 .section4>p{
    font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 540;
color: #8b8b99;
text-align: center;

}
.profile1 img{
    width:70px;
    border-radius: 50%;
text-align: center;
padding: 30px 40%;
}
.profile1{
    width:305px;
    height:400px;
  background-color: #eaebf5;
  margin: 7%;
  border-radius: 0px 30px;
}
.profile1 p{
    font-family: 'Poppins', sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-style: Italic;
  color: #8b8b99;
  text-align: center;
  line-height: 22px;
width: 250px;
padding:0px 10% ;
  }
.profile2 img{
    width:70px;
    border-radius: 50%;
text-align: center;
padding: 30px 40%;
}
.profile2{
    width:305px;
    height:400px;
  background-color: #eaebf5;
  margin: 7%;
  border-radius: 0px 30px;
}
.profile2 p{
    font-family: 'Poppins', sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-style: Italic;
  color: #8b8b99;
  text-align: center;
  line-height: 22px;
width: 250px;
padding:0px 10% ;
  }
.profile3 img{
    width:70px;
    border-radius: 50%;
text-align: center;
padding: 30px 40%;
}
.profile3{
    width:305px;
    height:400px;
  background-color: #eaebf5;
  margin: 7%;
  border-radius: 0px 30px;
}
.profile3 p{
    font-family: 'Poppins', sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-style: Italic;
  color: #8b8b99;
  text-align: center;
  line-height: 22px;
width: 250px;
padding:0px 10% ;
  }
  .auth{
    font-family: 'Poppins', sans-serif;
  font-size: 14px;
     font-weight: 600;
     text-align: center;
     }
     .post{
         font-family: 'Poppins', sans-serif;
         font-size: 12px;
         color: #8b8b99;
         font-style: Italic;
         text-align: center;
     }
     .section5 img{
         height: 120px;
         width: 100%;
      

     }
     .aside{
         padding-top:30px ;
        background-image: url("https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png");
    background-size:100%; 
    }
    .aside h1{
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        font-weight: 600;
        padding:0 10%; 
    }
    .aside p{
        font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
   width: 250px;
    color: #8b8b99;
padding: 0 10%;
    text-align: left;


    }
    .submit{
        background-color: #f69dad;
    width:140px;
    height: 40px;
        border-radius: 4px;
        cursor: pointer;
        color: white;
        border: 0;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 16px 10%;
        
    }
    .text{
        width:280px;
        height:40px;
      border-radius: 6px;
      border: 1px dashed gray;
      outline: none;
      margin: 0 10%;
    }
  .aside form{
      display: flex;
      flex-direction: column;
   
  }
  .submit:hover{
      background-color: transparent;
      border:2px solid #f69dad;
      color:#f69dad;
  }
    .section6{
        display: flex;
        background-color:rgb(217, 217, 245,0.5) ;
    }
    .box h1{
        font-size: 20px;
        text-align: center;
    }
    .box p{
        text-align: center;
    font-size: 14px;    }
    .section7 h3{
        color: #8b8b99;
        font-size: 30px;
        font-weight: 400;
      width: 350px;
    }
    .section7 iframe{
        width: 80%;
        height: 250px;
    padding: 0px 10%;
    }
    
  .left h3{
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
 width: 300px;
 padding: 9%;
}


  .left h1{
      font-size:27px;
      font-family: 'Poppins',sans-serif;
    font-weight: 900;
text-align: center;
  }
  .left p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  color: #8b8b99;
  margin: 0px;
  text-align: left;
  padding: 0px 10%;

  }
  .left h2{
      font-family: 'Poppins',sans-serif;
      font-size: 20px;
      padding: 0px 10%;
  }
  .right h3{
    color: #91ac41;
   font-size: 24px;
   font-family: 'Caveat', cursive;
   width: 350px;
   padding: 50px 0px 0px 0px;

}
.right h1{
    font-size:27px;
    font-family: 'Poppins',sans-serif;
  font-weight: 900;
padding:0px  10%;

}
.cone{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #8b8b99;
    text-align: left;
  padding: 0px 10%;
   
  }
  .right>form>input{
    font-family: 'poppins',sans-serif;
    width: 250px;
    height:20px;
    padding: 16px;
    font-size: 16px;
    color: #8b8b99;
    border-radius: 6px;
    border: 1px solid #e5e6ec;
    margin: 16px 10%; 
    outline: none;
  }
  .textarea{
      font-family: 'poppins',sans-serif;
    width: 250px;
    height:40px;
    padding: 16px;
    font-size: 16px;
    color: #8b8b99;
    border-radius: 6px;
    border: 1px solid #e5e6ec;
    margin: 16px 10%; 
    outline: none;
  }
  #sub{
      width: 180px;
      font-weight: 600;
    color: white;
    background-color: rgb(170, 210, 54);
    padding: 9px 34px;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;
}
section9{
    position: relative;
    top:10px;
  margin: 0px;
    height: 30px;
    background-color: rgb(26, 25, 25,0.8);
}
.section9 p{
    color: white;
    font-family: 'poppins',sans-serif;
 text-align: center;
 padding: 20%;
}
